html{
	background: linear-gradient(grey,white);
	background-repeat:no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
article{
	border: 5px solid;
	width: 500px;
}
img{
	float: right;
	margin: 5px;
}
#box{
	bottom: 0px;
	right: 0px;
	position: fixed;
	background-color: lightgrey;
	width: 200px;
	height: 200px;
	border: 1px solid;
}