html{
	background: linear-gradient(grey,white);
	background-repeat:no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
article{
	border: 5px solid;
	width: 500px;
	overflow: hidden;
}
img{
	float: right;
	margin: 5px;
}
#box{
 position: fixed;
  bottom: ..px;
  right: ..px;
  background-color: #FFF;
  color: #FA0;
  opacity: 50%;
  width: 33%;
  height: ..px;
  z-index: 9999;
  text-align: center;
}
ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	background-color:#444444;
}
li a{
	float: left;
	display: block;
	color: white;
	padding: 10px 15px;
	text-align: center ;
	text-decoration: none;
	border-right: 1px solid black;
	min-width: 60px;

}

li a:hover{
	background-color: #222222;
}
h3{
	position: Fixed;
	top: 125px;
	right: 20px;
}
#routes{
	position: Fixed;
	top: 150px;
	right: 20px;
}